.tryOn {
  top: 0;
  left: 0;
}
.KM {
  position: absolute;
  top: 114px;
  left: 370px;
  z-index: 1;
  opacity: 0.8;
  /* left: 0; */
  /* top: 200px; */
}
.Model {
  position: relative;
  /* top: 30px;
    left: 30px; */
}
